@import './../../globals/globals.scss';

.nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 7vh;
	border: 2px solid $color2;
	background-color: $color5;

	.menu {
		display: flex;
		justify-content: center;
		width: 100%;
		align-items: center;

		a {
			display: flex;
			margin: 10px 25px;
			padding: 10px;
			text-decoration: none;
			color: $color1;
			font-size: 28px;
		}
	}
}
