.jumbotron {
	height: 70vh;
	width: 100%;
	border: 2px solid red;
	display: flex;
	justify-content: center;
  align-items: center;
  
  .body{
    display:flex;
    flex-direction: column;
  }

	.textContainer {
		width: 40%;
		display: flex;
		text-align: center;
		line-height: 1.2;
		flex-direction: column;
		h3 {
			margin-top: 20%;
			font-size: 2.4rem;
		}
		button{
			height: 40px;
			width: 120px;
			align-self: center;
			margin-top: 10px;
			font-size: 1.4rem;
			font-weight: bold;
		}
	}
}

.contactButton{
  margin-top:10px;
  height: 40px;
  width: 100px;
  align-self:center;
}

.featureContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid blue;
	h1 {
		margin: 5%;
	}
}

.boxContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 75%;
	border: 2px solid orange;
	.box {
		display: flex;
		flex-direction: column;
		h2 {
			text-align: center;
			font-size:2rem;
		}
		width: 35%;
		height: 30vh;
		border: 2px solid dodgerblue;
		margin: 2%;
	}
}
